<div class="modal-header">
  <h4 class="modal-title">{{pageTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="col-auto" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="alert alert-danger mt-3" *ngIf="status == 'error'">
          Usuario y/o contraseña incorrecto.
        </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="Email">
      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">El correo no es válido</small>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password"
        required minlength="6" placeholder="Contraseña">
      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">Una contraseña de más de 6
        caracteres es obligatoria</small>
    </div>
    <input type="submit" value="Iniciar sesión" class="btn btn-success btn-lg btn-block"
      [disabled]="loginForm.invalid" />
  </form>
</div>
